In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# standardization and encoding
# standardization is a technique to rescale the features of data to have a mean of 0 and a standard deviation of 1
# label encoding is a technique to convert categorical labels into numerical format
#  and the type of encoding that we will use is label encoding or ordinal encoding
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

# import pickle for saving the model and providing persistence
import pickle

In [64]:
# now let's load the dataset
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [65]:
# Let's do some preprocessing on the data
# dropping unnecessary columns
data = data.drop(["RowNumber", "CustomerId", "Surname"], axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [22]:
print(data["Geography"].value_counts())

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [66]:
le = LabelEncoder()
data["Gender"] = le.fit_transform(data["Gender"])
print(data["Gender"].value_counts())
print("+-----------------------+")
data.head()

Gender
1    5457
0    4543
Name: count, dtype: int64
+-----------------------+

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [67]:
# encoding the 'Geography' column using OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)
geography_encoded = ohe.fit_transform(data[["Geography"]])
geography_encoded_df = pd.DataFrame(
    geography_encoded, columns=ohe.get_feature_names_out(["Geography"])
)
data = pd.concat([data.drop("Geography", axis=1), geography_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int64
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  float64
 11  Geography_Germany  10000 non-null  float64
 12  Geography_Spain    10000 non-null  float64
dtypes: float64(5), int64(8)
memory usage: 1015.8 KB

In [26]:
with open("label_encoder_gender.pkl", "wb") as f:
    pickle.dump(le, f)

with open("onehot_encoder_geography.pkl", "wb") as f:
    pickle.dump(ohe, f)

In [27]:
# splitting the data into features and target variable
X = data.drop("Exited", axis=1)
y = data["Exited"]
# splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [28]:
# standardization and encoding
# standardization is a technique to rescale the features of data to have a mean of 0 and a standard deviation of 1
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [29]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]], shape=(8000, 12))

In [30]:
with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

### ANN

##### Artificial Neural Networks

- ANN are a subset of machine learning and are at the heart of deep learning algorithms.
- They are inspired by the structure and function of the human brain, mimicking the way that biological neurons signal to one another.
- An ANN is composed of layers of interconnected nodes, or "neurons", where each connection has an associated weight.
- These networks are capable of learning complex patterns from data through a process called training, where the network adjusts its weights based on the input data and the corresponding output.
- ANNs are widely used in various applications, including image and speech recognition, natural language processing, and game playing, due to their ability to model complex relationships and make accurate predictions

In [48]:
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

import datetime

In [49]:
X_train.shape[1]

12

In [50]:
# Build our ANN model

model = Sequential(
    [
        Dense(
            64, activation="relu", input_shape=(X_train.shape[1],)
        ),  # Hidden layer 1 connected to input layer
        Dense(32, activation="relu"),  # Hidden layer 2 connected to hidden layer 1
        Dense(1, activation="sigmoid"),  # Output layer connected to hidden layer 2
    ]
)

/home/mohamed-tamer/Downloads/krish-naik/Starter/2.MachineLearning/annclassification/venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [51]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [52]:
# Compile the model using Adam optimizer and binary crossentropy loss function
# Adam optimizer is an optimization algorithm
# that can be used instead of the classical stochastic gradient descent
# procedure to update network weights iteratively based on training data.
# Binary crossentropy is used as a loss function for binary classification problems,
# where the output is either 0 or 1.
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [53]:
# set TensorBoard log directory
# TensorBoard is a visualization tool provided with TensorFlow
# that allows you to monitor and visualize various aspects of your machine learning models,
# such as training progress, loss and accuracy metrics, computational graphs, and more.
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [55]:
# set up early stopping to prevent overfitting
early_stopping = EarlyStopping(
    monitor="val_loss", patience=10, restore_best_weights=True
)

In [56]:
# Training the model
history = model.fit(
    X_train,
    y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    batch_size=32,
    callbacks=[early_stopping, tensorboard_callback],
)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8012 - loss: 0.4562 - val_accuracy: 0.8240 - val_loss: 0.3974
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8372 - loss: 0.3936 - val_accuracy: 0.8475 - val_loss: 0.3620
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8518 - loss: 0.3614 - val_accuracy: 0.8575 - val_loss: 0.3513
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8583 - loss: 0.3481 - val_accuracy: 0.8585 - val_loss: 0.3432
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8583 - loss: 0.3431 - val_accuracy: 0.8610 - val_loss: 0.3437
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8575 - loss: 0.3375 - val_accuracy: 0.8555 - val_loss: 0.3444
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8601 - loss: 0.3353 - val_accuracy: 0.8595 - val_loss: 0.3422
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8601 - loss: 0.3324 - val_accuracy: 0.8590 - val_loss: 0.3424
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8615 - loss: 0.3297 - val_accuracy: 0.8600 - val_loss: 0.3441
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8644 - loss: 0.3267 - val_accuracy: 0.8590 - val_loss: 0.3425
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8685 - loss: 0.3248 - val_accuracy: 0.8605 - val_loss: 0.3414
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8658 - loss: 0.3227 - val_accuracy: 0.8630 - val_loss: 0.3379
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8636 - loss: 0.3206 - val_accuracy: 0.8620 - val_loss: 0.3377
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8687 - loss: 0.3190 - val_accuracy: 0.8630 - val_loss: 0.3451
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8681 - loss: 0.3186 - val_accuracy: 0.8580 - val_loss: 0.3459
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8673 - loss: 0.3175 - val_accuracy: 0.8630 - val_loss: 0.3371
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8659 - loss: 0.3151 - val_accuracy: 0.8625 - val_loss: 0.3418
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8696 - loss: 0.3132 - val_accuracy: 0.8650 - val_loss: 0.3387
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8673 - loss: 0.3138 - val_accuracy: 0.8640 - val_loss: 0.3394
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8706 - loss: 0.3103 - val_accuracy: 0.8650 - val_loss: 0.3413
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8685 - loss: 0.3087 - val_accuracy: 0.8620 - val_loss: 0.3463
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8700 - loss: 0.3075 - val_accuracy: 0.8645 - val_loss: 0.3422
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8695 - loss: 0.3073 - val_accuracy: 0.8605 - val_loss: 0.3421
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8714 - loss: 0.3059 - val_accuracy: 0.8600 - val_loss: 0.3421
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8719 - loss: 0.3037 - val_accuracy: 0.8620 - val_loss: 0.3466
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8726 - loss: 0.3033 - val_accuracy: 0.8620 - val_loss: 0.3480

In [57]:
model.save("ann_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [58]:
# Load tensorboard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [61]:
%tensorboard --logdir logs/fit/20260107-065104

Reusing TensorBoard on port 6007 (pid 90062), started 0:01:04 ago. (Use '!kill 90062' to kill it.)